*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width: 100%;
    padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;
}



.header{
   position: fixed;
   width: 100%;
   top: 0;
   padding: 15px 0;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #0D0E43;
    margin: 3px 0;
}

.header ul{
    display: flex; 
    flex-wrap: wrap;
    gap: 35PX;
    margin: 10PX 0;
}

.list ul a{ 
    color: #0D0E43;
}

#text-color{
    color: #FB2E86;
}

.header input{
    border: 2px;
    width: 266px;
    height: 40px;
}

.header button{
    border: 1px;
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}

.header form{
    border: solid #E7E6EF;
    display: flex;
}

#menu{

    display: none;

}

@media screen and (min-width:0) and (max-width:990px){
    .header .search-form {
        display: none;
    }
    #menu{
        display: block;
    }
}

@media screen and (min-width:0) and (max-width:690px){
    .header .list {
        display: none;
    }

    #menu{

    display: block;

}

}

