*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    padding-top: 80px;
}

.container{
    width: 100%;
    padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header{
   position: fixed;
   width: 100%;
   top: 0;
   padding: 15px 0;
    background-color: #FFFFFF;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #0D0E43;
    margin: 3px 0;
}

.header ul{
    display: flex; 
    flex-wrap: wrap;
    gap: 35PX;
    margin: 10PX 0;
}

.list ul a{ 
    color: #0D0E43;
}

#text-color{
    color: #FB2E86;
}

.header input{
    border: 2px;
    width: 266px;
    height: 40px;
}

.header button{
    border: 1px;
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}

.header form{
    border: solid #E7E6EF;
    display: flex;
}

#menu{

    display: none;

}

@media screen and (min-width:0) and (max-width:990px){
    .header .search-form {
        display: none;
    }
    #menu{
        display: block;
    }
}

@media screen and (min-width:0) and (max-width:690px){
    .header .list {
        display: none;
    }

    #menu{

    display: block;

}
}

.products{
    margin-top: 129px;
    margin-bottom: 128px;
    height: 508px;
}

.products .row{
    gap: 30px;
    justify-content: center;
    width: calc((1168 - 30) /3);
    height: 451px;
}

.products h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif; 
    color: #1A0B5B;
    font-weight: bold;
    font-size: 42px;
}

.product{
    margin-top: 46px;
    width: 270px;
    height: 361px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 236px;
    background-color: #F6F5FF;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 14px;
}

.product-details h2{
    font-family: 'Lato', sans-serif;
    color: #FB2E86;
    font-weight: bold;
    font-size: 18px;
}

.product-color button{
    border: none;
    width: 14px;
    height: 4px;
    border-radius: 12px;
}

.product-color .pink{
    background-color: #FB2E86;
}

.product-color .green{
    background-color: #05E6B7;
}

.product-color .blue{
    background-color: #00009D;
}

.product-color .yellow{
    background-color: #FFEAC1;
}

.product-info span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #151875;
    font-size: 14px;
}

.background-img{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    background-position: center;
    height: 462px;
    width: 1920px;
}

.background-img .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 174px 673px 103px;
    gap: 28px;
    width: 574px;
    height: 185px;
}

.background-img h2{
    font-family: 'Josefin Sans', sans-serif; 
    color: #151875;
    font-weight: bold;
    font-size: 36px;
}

.background-img button{
    /* margin-top: 20px; */
    width: 173px;
    height: 49px;
    background-color: #FB2E86;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif; 
    border: none;
}

.footer{
    padding: 50px 0;
    background-color: #EEEFFB;
}

.footer .row{
    gap: 20px;
    align-items: flex-start;

}

.footer .left-side{
    width:calc( (100% - 20px) / 2 );
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .left-side .logo{
    color: #000000;
}

.footer form{
    display: flex;
    height: 43.32px;
    width: 376.8px;

}

.footer .left-side ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
}

.footer .left-side button{
    width: 134.93px;
    height: 43.32px;
    background-color: #FB2E86;
    color: #EEEFFB;
    border: none;
}

.footer .left-side input{
    border: 2px;
    width: 242.87px;
    height: 43.32px;
}

.footer .right-side{
    width:calc( (100% - 20px) / 2 );
    display: flex;
    gap: 20px;
}

.footer .right-side ul{
    display: flex;
    flex-direction: column;
    gap: 23.32px;
    color: #8A8FB9;
    font-family: 'Lato', sans-serif;
}

.footer .right-side h3{
    margin-bottom: 20px;
    color: #0D0E43;
    font-family: 'Josefin Sans', sans-serif; 
}

.footer .right-side .row{
    width: 100%;
    gap: 20px;
}
@media screen and (min-width:0) and (max-width:1024px) {
    .footer .left-side, .footer .right-side{
        width: 100%;
    }
}
