*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    list-style-type: none;
}

.header{
    padding: 50px 0;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #F6F7FB;
}

.container{
    width: 80%;
    margin: auto;
}
form{
    display: flex;
    justify-content: space-between;
}
/* End public */
/* Start header */
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header .form button{
    border: none;
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
}

.list nav{
    display: flex;
    gap: 35px;
    margin-top: 10px;
}
.logo{
    width: 98px;
    height: 34px;
    margin-top: 3px;
}



.form img{
    width: 24px;
    height: 24px;
}

.form input{
    width: 250px;
}

.menu{
    display: none;
}


.list a:hover{
    color:#FB2E86;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-delay: 0.2s ;
}

@media screen and (max-width:1150px) {
       .header .container{
        flex-wrap: wrap;
    }
    
    form{
        display:none;
    }

    .menu{
        display: block;
    }

    .list a:hover{
    color:#FB2E86;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-delay: 0.2s ;
    }
}

@media screen and (max-width:800px) {
    .list nav{
        display: none;
    }
}
/* End header */

/* Start hero 1 section */

.hero1{
    padding: 50px 0px;
    background-color: #F2F0FF;
}

.hero1 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero1_right img{
    height: 100vh;
}

.hero1 .best_Furniture{
    color: #FB2E86;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 3px;
}

.hero1_left h2{
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 53px;
    padding-bottom: 3px;
}

.hero1_left .details{
    color: #8A8FB9;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 7px;
}

.hero1_left button{
    width: 159px;
    height: 50px;
    background-color: #FB2E86;
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-size: 17px;
    font-weight: 600;
    border: 0;
}

@media screen and (max-width:1150px) {
    .hero1 .container{
        flex-direction: column;
    }

    .hero1_right img{
        width: 100%;
    }
}

/* End hero 1 section */

/* Start products section */

.products{
    padding: 50px 0;
}

.products .items{
    width: 275px;
    height: 361px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.products h2{
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 45px;
    color: #1A0B5B;
}

.products .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products .image{
    width: 270px;
    height: 236px;
    background-color: #F6F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products .info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding-bottom: 17px;
}

.products h3{
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    color: #FB2E86;
}

.products .butt{
    width: 14px;
    height: 5px;
    border: none;
    border-radius: 12px;
}

.products .green{
    background-color: #05E6B7;
}

.products .pink{
    background-color: #F701A8;
}

.products .blue{
    background-color: #00009D;
}

.products .code{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
}

.products .salary{
    color: #151875;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
}

.products .icons{
    display: flex;
    gap: 16px;
    position: absolute;
    top: 11px;
    left: 11px;
}
.products .icon button{
    background-color: #0000000D;
    border-radius: 50px;
    border: none;
    color: #1DB4E7;
    opacity: 0;
}

.products .items:hover{
    border: 2px solid #9c67f1;
}
.products .items:hover button{
    opacity: 1;
}
.products .items:hover .info{
    background-color: #2F1AC4;
    transition-duration: 2s;
}
.products .items:hover .info .code{
    color: #FFFFFF;
}
.products .items:hover .info .salary{
    color: #FFFFFF;
}

@media screen and (max-width:1150px) {
    .products .row{
        flex-wrap: wrap;
    }

    .products .items:hover{
        border: 2px solid #9c67f1;
    }
    .products .items:hover button{
        opacity: 1;
    }
    .products .items:hover .info{
        background-color: #2F1AC4;
        transition-duration: 2s;
    }
    .products .items:hover .info .code{
        color: #FFFFFF;
    }
    .products .items:hover .info .salary{
        color: #FFFFFF;
    }
}

/* End products section */

/* Start Leatest Products section*/

.leatest_products{
    padding: 50px 0;
}

.leatest_products h2{
    text-align: center;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 19px;
    color: #1A0B5B;
}

.leatest_products .head{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    height: 22px;
    padding-bottom: 50px;
}

.leatest_products .head span{
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: #151875;
}

.leatest_products .head .first_span{
    color: #FB4997;
    text-decoration-line: underline;
}

.leatest_products .items{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
    align-items: center;
    width:100%;
}

.leatest_products .item{
   width: 360px;
}

.leatest_products .img_icons{
    width: 100%;
    height: 261px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leatest_products .img_icons i{
   width: 13.853198051452637px;
   height: 13.853198051452637px;
   color: #2F1AC4;
}

.leatest_products .img_icons button{
    width:19px;
    height: 19px;
    border: none;
}

.leatest_products .img_icons .icon{
   width:30px;
   height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    border-radius: 50%;
    background-color: #EEEFFB;

}

.leatest_products .img_icons .icons{
position: absolute;
   left: 15px;
   bottom: 38px;
   opacity: 0;
}

.leatest_products .info{
    padding-top: 15.5px;
    display: flex;
    justify-content: space-between;
}

.leatest_products .left_info span{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 16px;
    color: #151875;
}

.leatest_products .right_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.leatest_products .right_info .sal_after{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 14px;
    color: #151875;
}

.leatest_products .right_info .sal_befor{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 12px;
    color: #FB2448;
    text-decoration-line: line-through;
}

.leatest_products .sale img{
    width: 84.87206268310547px;
    height: 56.725345611572266px;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: 7px;
    left: 14px;
}

.leatest_products .item:hover .icons{
    opacity: 1;
    transition-duration: 0.7s;
    transition-delay: 0.4s;
}

.leatest_products .item:hover{
       border: 2px solid #9c67f1;
}

@media screen and (max-width:768px) {
    .leatest_products .head{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 300px;
    }

    .leatest_products .item:hover .icons{
    opacity: 1;
    transition-duration: 0.7s;
    transition-delay: 0.4s;
}

.leatest_products .item:hover{
       border: 2px solid #9c67f1;
}

}

@media screen and (max-width: 360px) {
.leatest_products img{
   width: 100%;
}

.leatest_products .info{
    flex-direction: column;
    gap: 10px;
}

.leatest_products .left_side{
    margin: auto;
}

.leatest_products .item:hover .icons{
    opacity: 1;
    transition-duration: 0.7s;
    transition-delay: 0.4s;
}

.leatest_products .item:hover{
       border: 2px solid #9c67f1;
}
}

/* End Leatest Products section*/

/* start shopex offer section  */

.shopex_offer{
    padding: 50px 0;
}

.shopex_offer h2{
    text-align: center;
    padding-bottom: 50px;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 42px;
    color: #151875;
}
.shopex_offer .items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: calc((100%-84px)/4);
}

.shopex_offer img{
    width: 65px;
    height: 65px;
    margin-bottom: 27px;
}

.shopex_offer span{
    color: #151875;
    margin-bottom: 30px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 22px;
}

.shopex_offer p{
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #1A0B5B4D;
    margin-top: 22px;
    text-align: center;
}

.shopex_offer .item{
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

 .shopex_offer .item:hover{
    border: 2px solid #9c67f1;
}

@media screen and (max-width: 1211px) {
    .shopex_offer .items{
        flex-direction: column;
    }
    
    .shopex_offer .item:hover{
        border: 2px solid #9c67f1;
    }
}

/* end shopex offer section  */ 